.shine{
    animation: sintiller 2s linear infinite;
    margin: auto;
    width: 20px;
    height: 20px;
    display: absolute;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid black;
    background-color: #fca448;
}
@keyframes sintiller {
    0%{
        box-shadow: 0 0 10px #ffff;
    }
    50%{
        box-shadow: 0 0 50px #ffff;
    }
    100%{
        box-shadow: 0 0 10px #ffff;
    }
}
