.shine{
    animation: sintiller 2s linear infinite;
    margin: auto;
    width: 20px;
    height: 20px;
    display: absolute;
    border-radius: 50px;
  
}
@keyframes sintiller {
    0%{
        box-shadow: 0 0 10px #ffff;
    }
    100%{
        box-shadow: 0 0 50px #ffff;
    }
}
