body {
    /*
    background-color: #222831;
    */
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    background-image: url("/freepik/Fond/planche.jpg");
 
    background-size: cover;
    color: #31363F;
}

p {
    margin-left: 20px;
    text-align: left;
    font-size: large;
}