body {
    
    font-family: 'Courier New', Courier, monospace;
    background-color: #212730;
    
    /*
    background-image: url("/ia/futur.gif");
    background-repeat: no-repeat;   
    background-size: cover;
    color: #31363F;
    */
}

p {
    margin-left: 20px;
    text-align: left;
    font-size: large;
}